##STANDARD
*~
*.swp

#RESHARPER
*ReSharper*
*.user

#COMPILING
*/obj/*


*.xlsx
*.dll
*.exe
*.pdb
*.manifest
*.exe.config
TaskDash.exe.CodeAnalysisLog.xml
TaskDash.exe.lastcodeanalysissucceeded
../~$TODO.xlsx
